# Timespan in seconds to buffer event, origin and magnitude objects received
# via messaging. Object not found in the in-memory buffer will be read from the
# database.
bufferSize = 14400

# Magnitude type to copy if present, default: M(USGS).
magType = M(USGS)
